src/main/mule/salesforce-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="salesforce-prc-apiFlow" doc:id="058d7810-82c6-4a46-bdf7-8235cad87faa" >
		<jms:listener doc:name="On New Message" doc:id="354fa20d-8cb4-4462-85f4-df968b3c43dd" config-ref="JMS_Config" destination="${secure::jms.destination}" ackMode="MANUAL" numberOfConsumers="1" inboundContentType="application/json">
			<jms:consumer-type >
				<jms:topic-consumer durable="true" subscriptionName="${secure::jms.subscription_name}"/>
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="Transform Message" doc:id="ed3d9613-4899-4d20-85f1-9f19f2b8cc6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reprocess" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="cd69a5ec-87b6-47f8-b91d-da54332ac7a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var record = payload.payload.record
output application/json
---
[{
    name: record.itemId,
    salesDescription__c: record.salesDescription,
    costEstimateType__c: record.costEstimateType,
    costEstimateUnits__c: record.costEstimateUnits,
    enforceMinQtyInternally__c: record.enforceMinQtyInternally,
    useMarginalRates__c: record.useMarginalRates,
    overallQuantityPricingType__c: record.overallQuantityPricingType,
    minimumQuantityUnits__c: record.minimumQuantityUnits,
    isDonationItem__c: record.isDonationItem,
    showDefaultDonationAmount__c: record.showDefaultDonationAmount,
    dontShowPrice__c: record.dontShowPrice,
    outOfStockBehavior__c: record.outOfStockBehavior,
    displayName__c: record.displayName
   
    
     
}]
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="b51af12a-bc6f-437e-b197-eab4e41866e0" config-ref="Salesforce_Http_Request_Config" path="/salesforce/upsert">
			<http:headers ><![CDATA[#[output application/json
---
{
	client_secret :  Mule::p('secure::salesforce.sys.api.client_secret'),
	client_id : Mule::p('secure::salesforce.sys.api.client_id')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"externalId" : "Id",
	"objectType" : "Item__c"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="bb3d28f6-40f7-4a22-9427-898b86e3e4dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="errorObject" ><![CDATA[%dw 2.0
output application/json
var count = 0
var s = payload.items map  (if ($.successful == false) 
{ 
    "id": $.id,
    "exception" : true,
    "statusCode" : $.statusCode,
    "ErrorDescription" : $.payload.errors.message[0],
    "Successful" : $.successful
} else null
)
---
s filter ((item, index) -> item !=null)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="if error occurs" doc:id="460fa413-db33-49d7-98fa-01b1c0d7f5c2" >
			<when expression="#[!(isEmpty(vars.errorObject))]">
				<ee:transform doc:name="Transform Message" doc:id="4c845348-b71d-40e8-add7-c4e5f5b5665a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.errorObject]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="3d9b5a96-f50c-4721-bb45-15a042aa8a45">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml writeDeclaration=false
---
html:{
    "style": "\ntable, th, td {\n  border: 0.5px solid black;\n  border-collapse: collapse;\n}\n\ntr:nth-child(even) {\n  background-color: rgba(150, 212, 212, 0.4);\n}\n\ntd{text-align: center;}",
    body : {
    table @(style: "width:100%"):{
        tr: payload[0] mapObject (value,key,index) ->   {"th" : key},
        tr: payload map( $ mapObject (value,key,index) ->   {"td" : value} )
        }
    }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="Flow Ref: salesforce-prc-apiSub_Flow" doc:id="931926eb-33c7-4e0e-9801-93d65ec496e8" name="salesforce-prc-apiSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="if there is no error" doc:id="241f6ee9-46b4-4b81-b07e-8e7fa7b7bbc3" message='#["There are no errors"]'/>
			</otherwise>
		</choice>
		<jms:ack doc:name="Ack" doc:id="7eedbc5e-76e3-44cd-82d6-133ccf44b148" ackId="#[attributes.ackId]"/>
	</flow>
	<sub-flow name="salesforce-prc-apiSub_Flow" doc:id="1fe9d8bc-2640-44c4-be7b-326b30f2d9b3">
		<email:send doc:name="if error occurs" doc:id="9e60f4cf-fb47-425d-b6c4-28338cf15206" config-ref="Email_SMTP" fromAddress="#[Mule::p('secure::smtp.fromAddress')]" subject="error">
			<email:to-addresses >
				<email:to-address value="${secure::smtp.toAddress}" />
			</email:to-addresses>
			<email:body contentType="text/html" />
		</email:send>
	</sub-flow>
</mule>
